@charset "utf-8";

/* 背景 */
body {
    background-image: url("https://beiz.jp/images_L/texture/texture_00003.jpg");

    /* background-repeat: no-repeat; */
}

/*全体*/
.wrapper{
    background-image: url("https://beiz.jp/images_L/paper/paper_00041.jpg");
    margin: 55px auto;
    color: #666;
    width: 90vw; /* 画面幅の70% */
    padding: 70px;
    border-radius: 10px 50px/50px 10px;
}

#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
    font-family: "myfont", sans-serif;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
    /* background-color: #ffffff; */
    font-family: "myfont", sans-serif;
}


td {
    color: #000;
    vertical-align: top; /* テキストを上に寄せる */
    text-align: left; /* テキストを左に寄せる */
    font-size: 0.8em; /* フォントサイズを小さくする */
    padding: 0.5em; /* 内側の余白を設定（適宜調整） */
}

th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
} 


.cell-content {
    min-height: 95px;
}


/* テーブル（カレンダー本体）のスタイル設定 */
#calendar table {
    width: 100%; /* 親要素（.wrapper）の幅に合わせる */
    table-layout: fixed; /* 列幅を均一にする */
    outline: 2px solid #ddd;
}

/* 日付のスタイル設定 */
#calendar td {
    vertical-align: top; /* テキストを上に寄せる */
    font-size: 0.8em; /* フォントサイズを小さくする */
    padding: 0.5em; /* 内側の余白を設定（適宜調整） */
} 


/* 無効な日付（先月・来月）のスタイル設定 */
#calendar td.disabled {
    color: #cccccc; /* テキストカラーを設定（適宜変更） */
}

/* ヘッダーとボタンのスタイル設定 */
#header, #next-prev-button {
    text-align: center; /* テキストを中央寄せにする */
} */

/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #eb73a1;
    color: #fff;
}

.cell-title {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "myfont", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    overflow-wrap: break-word; /* 単語内で改行 */
    white-space: normal;       /* 改行を許可 */
    width: 100%;               /* 親要素の幅に合わせる */
}

.cell-title:hover {
    color: #D65E72;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}


/* .pin {
    position: absolute;
    width: 40px; /* サイズは必要に応じて調整 */
    /* top: -10px;  /* 適切な位置にピンを配置 */
    /* left: 50%;   /* セルの中央に配置 */
    /* transform: translateX(-50%); 横方向の中央揃え 
} */


/* 新規作成　ログインボタン */

.green-myButton{
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #be6e22;
    text-decoration: none;
    font-family: "myfont", sans-serif;
    padding: .5em 1em;
    border-radius: 10px 50px/50px 10px;
    border: dashed 2px #333;
}

.red{
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #be6e22;
    text-decoration: none;
    font-family: "myfont", sans-serif;
    padding: .5em 1em;
    border-radius: 10px 50px/50px 10px;
    border: dashed 2px #333;
}

.myButton {
    color: #fff;
    font-weight: bold;
    background-color: #A0522D;
    text-decoration: none;
    font-family: "myfont", sans-serif;
    padding: .5em 1em;
    border-radius: 10px 50px/50px 10px;
    border: dashed 2px #333;
}

.button-group {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 3.5rem;
    color: #635454c0;
    text-shadow:3px 3px 0 #FFF, 3px -3px 0 #FFF,
    -1px -4px 0 #FFF, -4px 4px 0 #FFF,
    -3px -3px 0 #FFF,  0-1px 0 #FFF,
    3px 0 0 #FFF, -3px 0 0 #FFF;
    text-align: center;
    font-weight: bold;
    font-family: "myfont", sans-serif;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-family: "myfont", sans-serif;
    margin-top: -35px;
    margin-bottom: 35px;
}

.signup-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.login-button {
  width: 50%;
  margin-top: 20px;
  background-color: hwb(101 5% 56%);
  color: #fff;
  border-radius: 10px 50px/50px 10px;
  font-family: "myfont", sans-serif;
  /* font-weight: bold; */
  padding: .5em 1em;
}

label {
    font-family: "myfont", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;   
}

@font-face {
    font-family: "myfont";
    src: url("/static/css/font/K Gothic.ttf") format("truetype");
}

