@charset "utf-8";



body {
  background-color: lightblue;
}

h1 {
  color: white;
  margin-top: 20px !important;
}

#user {
  background-color: #e8f0fe;
  padding: 5px;
  margin-bottom: 10px;
}

#gpt {
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 10px;
}

#conversation {
  margin-top: 30px;
}

/*--------------------------------------
  カード型
--------------------------------------*/
/* .l-wrapper {
  margin: 1rem 0;
  width: 380px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.16);
  color: #212121;
  text-decoration: none;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1.5rem 0;
  font-size: 1.6rem;
  order: 1;
  font-weight: bold;
}

.card__contents {
  padding: 1rem 1.5rem 0;
  font-size: 0.8rem;
  order: 1;
}
a {
  text-decoration: none;
}



/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:100px auto;
  display: flex;
  justify-content: space-around;
}

.slider img {
   max-width:100%;/*スライダー内の画像を横幅100%に*/
   height:auto;
   text-align: center;
   margin: 0 auto;
}


.slider li {
  text-align: center;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
   margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 10px solid #ffffff;/*矢印の色*/
   border-right: 10px solid #ffffff;/*矢印の色*/
   height: 30px;
   width: 30px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
   text-align:center;
 margin:20px 0  0;
}

.slick-dots li {
   display:inline-block;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:8px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
 background:#eee;
}


ul{
 list-style: none;
 padding:0 20px ;
}


/*--------------------------------------
  ローディング
--------------------------------------*/

#loadingModal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/FhHRx.gif")
    50% 50% no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading #loadingModal {
  display: block;
}
