body {
  background-color: lightblue;
}

h1 {
  color: white;
}

#user {
  background-color: #e8f0fe;
  padding: 5px;
  margin-bottom: 10px;
}

#gpt {
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 10px;
}

#conversation {
  margin-top: 30px;
}
