<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Diary Contents</title>
    <link rel="stylesheet" href="/static/css/contents_style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="back_home">
      <a href="/{{user.username}}" class="myButton">ホームへ戻る</a>
    </div>
    <div class="view">
      <!-- for文でループさせてurlに対応する投稿を持ってくる -->
      {% set posts_length = posts|length %} {% for post in posts %} {% set
      current_index = loop.index0 %}
      <!-- 現在のページのpost_idと一致 -->
      {% if post.post_id == post_id %}

      <!-- 現在のページ -->

      <div class="background-container now" id="{{ post_id }}">
        <div class="content">
          <div class="date">
            <p>{{ post.date.strftime("%Y年%#m月%#d日") }}</p>
          </div>
          <div class="title">
            <h1>{{ post.title }}</h1>
          </div>
          {% if images_dict[post_id]!= None %}
          <div class="picture">
            <img src="{{ images_dict[post_id] }}" alt="Generated Image" />
          </div>
          {% endif %}

          <div class="container">
            <div class="content">{{ post.body }}</div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="date">
          <p>{{ posts[posts_length-1].date.strftime("%Y年%#m月%#d日") }}</p>
        </div>
        <div class="title">
          <h1>{{ posts[posts_length-1].title }}</h1>
        </div>
        {% if images_dict[posts[posts_length-1].post_id]!= None %}
        <div class="picture">
          <img
            src="{{ images_dict[posts[posts_length-1].post_id] }}"
            alt="Generated Image"
          />
        </div>
        {% endif %}
        <div class="container">
          <div class="content">{{ posts[posts_length-1].body }}</div>
        </div>
      </div>
    </div>
    {% else %}
    <div
      class="background-container past"
      id="{{ posts[current_index-1].post_id }}"
    >
      <div class="content">
        <div class="date">
          <p>{{ posts[current_index-1].date.strftime("%Y年%#m月%#d日") }}</p>
        </div>
        <div class="title">
          <h1>{{ posts[current_index-1].title }}</h1>
        </div>

        <div class="container">
          <div class="content">{{ posts[current_index-1].body }}</div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- 次のページ -->
    {% if current_index == posts_length -1 %}
    <div class="background-container next" id="{{ posts[0].post_id }}">
      <div class="content">
        <div class="date">
          <p>{{ posts[0].date.strftime("%Y年%#m月%#d日") }}</p>
        </div>
        <div class="title">
          <h1>{{ posts[0].title }}</h1>
        </div>
        {% if images_dict[posts[0].post_id] != None %}
        <div class="picture">
          <img
            src="{{ images_dict[posts[0].post_id] }}"
            alt="Generated Image"
          />
        </div>
        {% endif %}
        <div class="container">
          <div class="content">{{ posts[0].body }}</div>
        </div>
      </div>

      <!-- 例外処理 -->
      {% else %}
        <div class="background-container next" id="{{posts[current_index+1].post_id}}">
  
          <div class="content">
  
            <div class="date">
              <p>{{ posts[current_index+1].date.strftime("%Y年%#m月%#d日") }}</p>
            </div>
            <div class="title">
              <h1>{{ posts[current_index+1].title }}</h1>
            </div>
            {% if images_dict[posts[current_index+1].post_id] != None %}
            <div class="picture">
              <img src="{{ images_dict[posts[current_index+1].post_id] }}" alt="Generated Image">
            </div>
            {% endif %}
            <div class="container">
              <div class="content">{{ posts[current_index+1].body }}</div>
            </div>
  
          </div>
        </div>
      </div>

      {% endif %} {% endif %} {% endfor %}
    </div>
    <span id="pen"
      ><img class="pen_img" src="/static/css/img/pen.png" alt=""
    /></span>
    <span id="kesigomu"
      ><img class="kesigomu_img" src="/static/css/img/kesigomu.png" alt=""
    /></span>
    <!-- <img src="https://beiz.jp/images_L/paper/paper_00041.jpg" alt="" class="back"> -->

    <button class="arrow next_design" id="next-button">次へ</button>
    <button class="arrow back_design" id="back-button">前へ</button>
    <div class="change">
      <button
        class="update_btn"
        onclick="location.href='/{{user.username}}/{{ post_id }}/update'"
      >
        編集
      </button>
      <button class="delete_btn">
        <a
          class="delete"
          href="javascript:void(0);"
          onclick="var yes=confirm('本当に削除してよろしいですか'); if (yes) location.href='/{{user.username}}/{{ post_id }}/delete'; return false;"
          >削除</a
        >
      </button>
    </div>

    <script src="/static/javascript/contents_script.js"></script>
  </body>
</html>
