<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Diary Contents</title>
    <link rel="stylesheet" href="/static/css/contents_style.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="back_home"><a href="/{{user.username}}">ホームへ戻る</a></div>
    <div class="view">
      <!-- for文でループさせてurlに対応する投稿を持ってくる -->
    {% for post in posts %}
    {% if post.post_id == post_id %}

      <!-- 現在のページ -->
      <div class="now_diary">
        <div class="background-container now" id="{{ post_id }}">
  
          <div class="content">
  
            <div class="date">
              <p>{{ post.created_at }}</p>
            </div>
            <div class="title">
              <h1>{{ post.title }}</h1>
            </div>

            <div class="picture">
              <img src="{{ images_dict[post_id] }}" alt="Generated Image">
            </div>
  
            <div class="container">
              <div class="content">{{ post.body }}</div>
            </div>
  
          </div>
  
        </div>
      </div>
    {% endif %}


    <!-- 前のページ -->
    {% set past_post = post_id - 1 %}
    {% if post.post_id == past_post %}
      <div class="past_diary">
        <div class="background-container past" id="{{ post_id-1 }}">
  
          <div class="content">
  
            <div class="date">
              <p>{{ post.created_at }}</p>
            </div>
            <div class="title">
              <h1>{{ post.title }}</h1>
            </div>
            <div class="picture">
              <img src="{{ images_dict[post_id-1] }}" alt="Generated Image">
            </div>
            <div class="container">
              <div class="content">{{ post.body }}</div>
            </div>
  
          </div>
  
        </div>
      </div>
      <!-- 例外処理 -->
    {% elif past_post == 0 %}
      {% for post in posts %}
      {% if post.post_id == user.post_count %}
    <div class="past_diary">
      <div class="background-container past" id="{{ user.post_count }}">

        <div class="content">

          <div class="date">
            <p>{{ post.created_at }}</p>
          </div>
          <div class="title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="picture">
            <img src="{{ images_dict[user.post_count] }}" alt="Generated Image">
          </div>
          <div class="container">
            <div class="content">{{ post.body }}</div>
          </div>

        </div>

      </div>
    </div>
      {% endif %}
      {% endfor %}
    {% endif %}

 <!-- 次のページ -->
    {% set next_post = post_id + 1 %}
    {% if post.post_id == next_post %}
      <div class="next_diary">
        <div class="background-container next" id="{{ post.post_id }}">
  
          <div class="content">
  
            <div class="date">
              <p>{{ post.created_at }}</p>
            </div>
            <div class="title">
              <h1>{{ post.title }}</h1>
            </div>
            <div class="picture">
              <img src="{{ images_dict[post_id+1] }}" alt="Generated Image">
            </div>
            <div class="container">
              <div class="content">{{ post.body }}</div>
            </div>
  
          </div>
  
        </div>
      </div>
      <!-- 例外処理 -->
    {% elif next_post == user.post_count+1 %}
      {% for post in posts %}
      {% if post.post_id == 1 %}
      <div class="next_diary">
        <div class="background-container next" id="1">
  
          <div class="content">
  
            <div class="date">
              <p>{{ post.created_at }}</p>
            </div>
            <div class="title">
              <h1>{{ post.title }}</h1>
            </div>
            <div class="picture">
              <img src="{{ images_dict[1] }}" alt="Generated Image">
            </div>
            <div class="container">
              <div class="content">{{ post.body }}</div>
            </div>
  
          </div>
  
        </div>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
    {% endfor %}

      <span id="pen"><img class="pen_img" src="/static/css/img/pen.png" alt=""></span>
      <span id="kesigomu"><img class="kesigomu_img" src="/static/css/img/kesigomu.png" alt=""></span>
      <!-- <img src="https://beiz.jp/images_L/paper/paper_00041.jpg" alt="" class="back"> -->
    </div>

    <button class="arrow next_design" id="next-button">次へ</button>
    <button class="arrow back_design" id="back-button">前へ</button>
    <div class="change">
      <button class="btn btn-success" onclick="location.href='/{{user.username}}/{{ post_id }}/update'">編集</button>
      <button class="btn btn-danger" onclick="location.href='/{{user.username}}/{{ post_id }}/delete'">削除</button>
    </div>


    <script src="/static/javascript/contents_script.js"></script>
  </body>
  
</html>
