{% extends "base.html" %}
{% block extra_css %}
{% endblock %}
{% block content %}

  <!-- 日記作成 -->
  <script src="static/javascript/calendar.js"></script>
  <script type="text/javascript">
    var link = document.createElement('link');
    link.href = 'static/css/calendar.css';
    link.rel = 'stylesheet';
    link.type = 'text/css';
    var head = document.getElementsByTagName('head')[0];
    head.appendChild(link);
  </script>

<h1 class="title">ちょこっと日記</h1>
<div class="button-group">
  <a href="{{username}}/create" role="button"class="red">新規作成画面</a>
  <a href="/logout" role="button"class="green-myButton">ログアウト</a>
</div>
  {% if posts!=None %}
  {% for post in posts %}
  <!-- <div class="l-wrapper">
    <article class="card">
      <div class="card__header">
        <h2 class="card__contents">{{ post.date }}</h2>
        <a href="{{username}}/{{ post.post_id }}/contents">
          <h1 class="card__title">{{ post.title }}</h1>
        </a>
        <a href="{{username}}/{{ post.post_id }}/update" role="button" class="card__contents">編集</a>
        <a href="{{username}}/{{ post.post_id }}/delete" role="button" class="card__contents">削除</a>
        <p class="card__contents">作成日時: {{ post.created_at }}</p>
      </div>
    </article>
  </div> -->
  {% endfor %}
  {% endif %}
    <!-- 絵をランダムで -->
  <ul class="slider">
    {%for post_id in picture_posts_id %}
    <li><a href="{{username}}/{{ post_id }}/contents"><img class="slider-image" src="{{ images_dict[post_id] }}" alt=""></a></li>
    {% endfor %}
  </ul>

  <div class="wrapper">
    <h1 class="subtitle">ちょこっと日記</h1>
    <!-- xxxx年xx月を表示 -->
    <h1 id="header"></h1>

    <!-- ボタンクリックで月移動 -->
    <div id="next-prev-button">
      <button id="prev" onclick="prev()">&lt;</button>
      <button id="next" onclick="next()">&gt;</button>
    </div>

    <!-- カレンダー -->
    <div id="calendar"></div>
  </div>
  <div class="gallery">

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/static/javascript/home_script.js"></script>
  </div>

{% endblock %}

