{% extends "base.html" %}
{% block content %}

  <!-- 日記作成 -->
  <script src="static/calendar.js"></script>
  <script type="text/javascript">
    var link = document.createElement('link');
    link.href = 'static/calendar.css';
    link.rel = 'stylesheet';
    link.type = 'text/css';
    var head = document.getElementsByTagName('head')[0];
    head.appendChild(link);
  </script>

  <h1>日記アプリケーション</h1>
  <a href="{{username}}/create" role="button">新規作成画面</a>
  <a href="/logout" role="button">ログアウト</a>
  {% if posts!=None %}
  {% for post in posts %}
  <div class="l-wrapper">
    <article class="card">
    <a href="{{username}}/{{ post.id }}/contents">
      <div class="card__header">
        <h1 class="card__title">{{ post.title }}</h1>
        <a href="{{username}}/{{ post.id }}/update" role="button" class="card__contents">編集</a>
        <a href="{{username}}/{{ post.id }}/delete" role="button" class="card__contents">削除</a>
        <p class="card__contents">日時: {{ post.created_at }}</p>
      </div>
    </a>
    </article>
  </div>
  {% endfor %}
  {% endif %}

  <div class="wrapper">
    <!-- xxxx年xx月を表示 -->
    <h1 id="header"></h1>

    <!-- ボタンクリックで月移動 -->
    <div id="next-prev-button">
      <button id="prev" onclick="prev()">&lt;</button>
      <button id="next" onclick="next()">&gt;</button>
    </div>

    <!-- カレンダー -->
    <div id="calendar"></div>
  </div>

{% endblock %}

