{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/signup.css">

<h1 class="title">ログイン画面</h1>
<form method="POST">
  <label for="">ユーザー名</label>
  <input type="text" name="username">
  <label for="">パスワード</label>
  <input type="password" name="password">
<div class="login-button-container">
  <input type="submit" value="ログイン" class="login-button">
</div>
</form>
<div class="signup">
  <a href="signup" class="signup-button myButton">アカウントを新規作成</a>    
</div>
{% endblock %}
